<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <div class="header__logo">Node js News</div>
      <div class="header__search">Search</div>
    </header>
    <div class="wrapper">
      <div class="news">
        <% articles.forEach(function(article,index) { %>
        <a href="#" class="news__card">
          <img src="<%- article.thumbnail_url %> " alt="" />
          <h2><%- article.title.rendered %></h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, ut rem. Tenetur, tempore minima, minus voluptate ducimus tempora neque hic unde placeat distinctio veniam nulla quia sunt! Blanditiis, rem. Accusamus?</p>
        </a>
        <% }) %>
      </div>
    </div>
  </body>
</html>
